@model IEnumerable<Animal.Models.MilkRecord>

@{
    ViewData["Title"] = "Index";
}
<div class="card mb-4">
    <div class="card-header py-3">
        <h3 class="m-1 font-weight-bold center text-primary">Milk Record </h3>
    </div>
    <div class="card-body">
        <p>
            <a asp-action="AddEditMilk" class="btn btn-outline-primary">Create New</a>
        </p>
        <table class="table table-bordered" id="myTable">
            <thead>
                <tr>
                    @*<th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>*@
                    <th>
                       Ear Tag No
                    </th>
                    <th>
                        Milk Volume
                    </th>
                    
                  
                    <th>
                        Fat Percent
                    </th>
                    <th>
                       Recording Period
                    </th>
                   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>

                    @*<td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.earTagNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.milkVolume)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.fatPercentage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.recordingPeriod)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "AddEditMilk", new { id = item.id }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-success" })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("body div.myTable input");
            var dataSrc = [];
            var table = $("#myTable").DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 3 }
                ],
                "pageLength": 50,
            });
        });
    </script>
}
