@model Animal.Models.Farm

@{
    ViewData["Title"] = "Details";
}
<div class="card mb-4 col-md-8">
    <div class="card-header py-3">
        <h3 class="m-1 font-weight-bold center text-primary">Farm</h3>
    </div>

    <div style="padding-top:10px;">
        <table class="table table-bordered" id="myTable">
            <tr>
                <th>
                  Id
                </th>
                <td>
                    @Html.DisplayFor(model => model.id)
                </td>
            </tr>
            <tr>
                <th>
                    Organization Name
                </th>
                <td>
                    @Html.DisplayFor(model => model.orgtanizationName)
                </td>
            </tr>
            <tr>
                <th>
                   Short Detail
                </th>
                <td>
                    @Html.DisplayFor(model => model.shortDetail)
                </td>
            </tr>
            <tr>
                <th>
                   Date of Organization
                </th>
                <td>
                    @Html.DisplayFor(model => model.dateOfRegistration)
                </td>
            </tr>
            <tr>
                <th>
                   Reg Certificate
                </th>
                <td>
                    @Html.DisplayFor(model => model.regCertification)
                </td>
            </tr>
            <tr>
                <th>
                    Mobile 1
                </th>
                <td>
                    @Html.DisplayFor(model => model.mobile1)
                </td>
            </tr>
            <tr>
                <th>
                   Mobile
                </th>
                <td>
                    @Html.DisplayFor(model => model.mobile)
                </td>
            </tr>
            <tr>
                <th>
                    Email
                </th>
                <td>
                    @Html.DisplayFor(model => model.email)
                </td>
            </tr>
            <tr>
                <th>
                    URL
                </th>
                <td>
                    @Html.DisplayFor(model => model.url)
                </td>
            </tr>
            <tr>
                <th>
                   Address
                </th>
                <td>
                    @Html.DisplayFor(model => model.address)
                </td>
            </tr>
            <tr>
                <th>
                    Municipility
                </th>
                <td>
                    @Html.DisplayFor(model => model.municipility)
                </td>
            </tr>
            <tr>
                <th>
                   Ward
                </th>
                <td>
                    @Html.DisplayFor(model => model.ward)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.longitude)
                </th>
                <td>
                    @Html.DisplayFor(model => model.longitude)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.latitude)
                </th>
                <td>
                    @Html.DisplayFor(model => model.latitude)
                </td>
            </tr>
            <tr>
                <th>
                   Farm Type
                </th>
                <td>
                    @Html.DisplayFor(model => model.farmType)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.land)
                </th>
                <td>
                    @Html.DisplayFor(model => model.land)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.area)
                </th>
                <td>
                    @Html.DisplayFor(model => model.area)
                </td>
            </tr>
        </table>
    </div>


    <div>

        <a asp-action="Index" class="btn btn-danger">Back to List</a>
    </div>
</div>
