@model IEnumerable<Animal.Models.Farm>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orgtanizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shortDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateOfRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.regCertification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobile1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.municipility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.farmType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.land)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.area)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orgtanizationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shortDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfRegistration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.regCertification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.municipility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.farmType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.land)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.area)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
