@model Animal.Models.lab

@{
    ViewData["Title"] = "Details";
}
<div class="card mb-4 col-md-8">
    <div class="card-header py-3">
        <h3 class="m-1 font-weight-bold center text-primary">Lab</h3>
    </div>

    <div style="padding-top:10px;">
        <table class="table table-bordered" id="myTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <td>
                    @Html.DisplayFor(model => model.id)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <td>
                    @Html.DisplayFor(model => model.name)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <td>
                    @Html.DisplayFor(model => model.address)
                </td>
            </tr>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <td>
                    @Html.DisplayFor(model => model.email)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.proprietor)
                </th>
                <td>
                    @Html.DisplayFor(model => model.proprietor)
                </td>
            </tr>
        </table>
    </div>
    <div>

        <a asp-action="Index" class="btn btn-danger">Back to List</a>
    </div>
</div>