@model Animal.Models.Breed

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card mb-4 col-md-8">
    <div class="card-header py-3">
        <h3 class="m-1 font-weight-bold center text-primary">Breed</h3>
    </div>

    <div style="patding-top:10px;">
        <table class="table table-bordered" id="myTable">
            <tr>
                <th>
                   Id
                </th>
                <td>
                    @Html.DisplayFor(model => model.id)
                </td>
            </tr>
            <tr>
                <th>
                   Species Name
                </th>
                <td>
                    @Html.DisplayFor(model => model.speciesId)
                </td>
            </tr>
            <tr>
                <th>
                    Breed Short Name
                </th>
                <td>
                    @Html.DisplayFor(model => model.breedNameShort)
                </td>
            </tr>
            <tr>

                <th>
                   Breed Long Name
                </th>
                <td>
                    @Html.DisplayFor(model => model.breedNamelong)
                </td>
            </tr>
            <tr>
                <th>
                    Short Detail
                </th>
                <td>
                    @Html.DisplayFor(model => model.shortDetail)
                </td>
            </tr>
            <tr>
                <th>
                   Origin From
                </th>
                <td>
                    @Html.DisplayFor(model => model.originFrom)
                </td>
            </tr>
            <tr>
                <th>
                   Register By
                </th>
                <td>
                    @Html.DisplayFor(model => model.registeredBy)
                </td>
            </tr>
            <tr>
                <th>
                  Updated By
                </th>
                <td>
                    @Html.DisplayFor(model => model.updatedBy)
                </td>
            </tr>
            <tr>
            <th>
                Register Date
            </th>
            <td>
                @Html.DisplayFor(model => model.registeredDate)
            </td>
                </tr>
        </table>
    </div>

    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
