@model Animal.Models.MIlkBaseNutrition

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card mb-4 col-md-8">
    <div class="card-header py-3">
        <h3 class="m-1 font-weight-bold center text-primary">Milk Base Nutrition</h3>
    </div>

    <div style="padding-top:10px;">
        <table class="table table-bordered" id="myTable">
            <tr>
                <th>
                    Id
                </th>
                <td>
                    @Html.DisplayFor(model => model.id)
                </td>
            </tr>
            <tr>
                <th>
                    Species Name
                </th>
                <td>
                    @Html.DisplayNameFor(model => model.Species.speciesName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.weight)
                </th>
                <td>
                    @Html.DisplayNameFor(model => model.weight)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.dm)
                </th>
                <td>
                    @Html.DisplayFor(model => model.dm)
                </td>
            </tr>
            <tr>
                <th>
                    Fat Percent
                </th>
                <td>
                    @Html.DisplayFor(model => model.fatPercentage)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.snf)
                </th>
                <td>
                    @Html.DisplayFor(model => model.snf)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.dp)
                </th>
                <td>
                    @Html.DisplayFor(model => model.dp)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cp)
                </th>
                <td>
                    @Html.DisplayFor(model => model.cp)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.tdn)
                </th>
                <td>
                    @Html.DisplayFor(model => model.tdn)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ndf)
                </th>
                <td>
                    @Html.DisplayFor(model => model.ndf)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.c)
                </th>
                <td>
                    @Html.DisplayFor(model => model.c)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.p)
                </th>
                <td>
                    @Html.DisplayFor(model => model.p)
                </td>
            </tr>

        </table>
    </div>
    <div>

        <a asp-action="Index" class="btn btn-danger">Back to List</a>
    </div>
</div>
