@model List<Animal.Models.ViewModel.FeedCalculator>

@{
    ViewData["Title"] = "Feed Calculate";
}


<div class="row">
    <h2 class="text-center">Feed Calculator</h2>
    @if (Context.Request.Method.ToString() == "GET")
    {
        <form asp-action="Calculate">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Animal Weight </label>
                    <input name="@Model[0].animalWeight" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Category  </label>
                    @Html.DropDownList("[0].animalCategories", Model[0].animalCategories, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-12">
                <label>Feed1</label>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Select Feed</label>
                        @Html.DropDownList("[0].feedId", Model[0].feeds, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Feed Weight</label>
                        <input asp-for="@Model[0].weight" class="form-control" />
                    </div>
                </div>

            </div>

            @*<div class="col-md-12">
                    <label>Feed2</label>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Feed Category</label>
                            @Html.DropDownList("[1].feedCategory", Model[0].feedCategories, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Select Feed</label>
                            @Html.DropDownList("[1].feedId", Model[0].feeds, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Feed Weight</label>
                            <input asp-for="@Model[1].weight" class="form-control" />
                        </div>
                    </div>
                </div>*@

            <input type="submit" value="Calculate" class="btn btn-default" />

        </form>


    }
    @if (Context.Request.Method.ToString() == "POST")
    {
        <h2>Feed Calculator</h2>
        <table class="table table-bordered">
            <tr>
                <th>Discription</th>
                <th>DM</th>
                <th>DCP</th>
                <th>TDN</th>
                <th>C</th>
                <th>P</th>
            </tr>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>@Model[i].remarks</td>
                    <td>@Model[i].dm</td>
                    <td>@Model[i].dcp</td>
                    <td>@Model[i].tdn</td>
                    <td>@Model[i].c</td>
                    <td>@Model[i].p</td>
                </tr>
            }
        </table>
    }
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
