@model Animal.Models.ViewModel.AnimalVM

@{
    ViewData["Title"] = "AddEditAnimal";
}
@section styles{
    <link href="~/css/select2.min.css" rel="stylesheet" />
}
<div class="card">
    <div class="card-header py-3">
        <h3 class="m-1 font-weight-bold center text-primary">Animal Breed</h3>
    </div>
    <div class="card-body">

        @Html.HiddenFor(m => m.id)


        <form asp-action="AddEditAnimal" enctype="multipart/form-data"  method="post">
            @*<input asp-for="id" type="hidden" />*@


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Gender</label><br />
                        <input type="radio" name="gender" onclick="clickEventGender(this);" value="Male" />Male &nbsp;&nbsp;&nbsp;
                        <input type="radio" name="gender" onclick="clickEventGender(this);" value="Female" />Female<br />
                        <span asp-validation-for="gender" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Species Name</label>

                        @Html.DropDownList("speciesId", Model.speciess, "Select", new { @class = "form-control", id = "ddlSpecies" })
                        <span asp-validation-for="speciesId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Breed</label>
                        @Html.DropDownList("breedId", Model.breeds, "Select", new { @class = "form-control", id = "ddlBreed" })


                        <span asp-validation-for="breedId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Ear Tag No</label>
                        <input asp-for="earTagNo" class="form-control" id="txtEarTag" Required />
                        <span asp-validation-for="earTagNo" class="text-danger"></span>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="weight" class="control-label"></label>
                        <input asp-for="weight" class="form-control" />
                        <span asp-validation-for="weight" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="age" class="control-label"></label>
                        <input asp-for="age" class="form-control" />
                        <span asp-validation-for="age" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="dob" class="control-label"></label>
                        <input asp-for="dob" class="form-control" type="date" />
                        <span asp-validation-for="dob" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Sire Id</label>
                        @*<input asp-for="sireId" class="form-control" />*@
                        @Html.DropDownList("sireId", Model.sires, "Select", new { @class = "form-control", id = "ddlSires" })

                        <span asp-validation-for="sireId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Dam Id</label>
                        @*<input asp-for="damId" class="form-control" />*@
                        @Html.DropDownList("damId", Model.dams, "Select", new { @class = "form-control", id = "ddldams" })
                        <span asp-validation-for="damId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Owner/Keeper</label>
                        @Html.DropDownList("ownerId", Model.owners, "Select", htmlAttributes: new { @class = "form-control" })


                        <span asp-validation-for="ownerId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Keeper</label>
                        @Html.DropDownList("keeperId", Model.keepers, "Select", htmlAttributes: new { @class = "form-control" })

                        @*<input asp-for="keeperId" class="form-control" />*@
                        <span asp-validation-for="keeperId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Farm</label>
                        @Html.DropDownList("farmId", Model.farms, "Select", htmlAttributes: new { @class = "form-control" })

                        <span asp-validation-for="farmId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Latitude</label>
                        <input asp-for="latitude" class="form-control" />
                        <span asp-validation-for="latitude" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Longitude</label>
                        <input asp-for="longitude" class="form-control" />
                        <span asp-validation-for="longitude" class="text-danger"></span>
                    </div>
                </div>
               

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Declared By</label>
                        <input asp-for="declaredBy" class="form-control" />
                        <span asp-validation-for="declaredBy" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Declared Date</label>
                        <input asp-for="declaredDate" class="form-control" type="date" />
                        <span asp-validation-for="declaredDate" class="text-danger"></span>
                    </div>
                </div>


                <div id="divFemale" class="row" style="padding-left:12px;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>No of calving</label>
                            <input asp-for="noOfCalving" class="form-control" />
                            <span asp-validation-for="noOfCalving" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Last calving Date</label>
                            <input asp-for="lastCalvingDate" class="form-control" type="date" />
                            <span asp-validation-for="lastCalvingDate" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Pregnancy Duration</label>
                            <input asp-for="pregnencyDuration" class="form-control" />
                            <span asp-validation-for="pregnencyDuration" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                milking Status
                            </label><br />
                            <input type="radio" name="milkingStatus" onclick="clickEventGender(this);" value="Yes" />Yes&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="gender" onclick="clickEventGender(this);" value="No" />No<br />

                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                pregnency Status
                            </label><br />
                            <input type="radio" name="pregnancyStatus" value="Early" />Early&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="pregnancyStatus" value="Mid" />Mid&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="pregnancyStatus" value="Late" />Late&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="pregnancyStatus" value="No" />No&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>



                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Animal Image</label>
                        <input class="form-control" type="file" name="file" id="file" />
                    </div>
                </div>
                <div class="col-md-12" style="text-align:center; padding-top:15px;">
                    <input type="submit" value="Submit" class="btn btn-primary" id="txtSubmit" />
                </div>

</form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>
    </div>
@section Scripts{
    <script src="~/js/select2.min.js"></script>
    <script>
        function CheckEarTag() {
            var status = true;
            var ear = $("#txtEarTag").val();
            if (ear != null) {
                $.ajax({
                    async: false,
                    type: "POST",
                    dataType: "json",
                    //data: "{'earTag':'" + ear + "'}",
                    contentType: "application/json; charset=utf-8",
                    url: RootUrl + 'Request/CheckEarTag?earTag=' + ear,
                    success: function (response) {
                        if (response.toString() == "NULL") {
                            status = false;

                        }
                    }
                })
            }


            return status;
        }

        function CheckEarTagUsed() {
            var status = true;
            var ear = $("#txtEarTag").val();
            if (ear != null) {
                $.ajax({
                    async: false,
                    type: "POST",
                    dataType: "json",
                    //data: "{'earTag':'" + ear + "'}",
                    contentType: "application/json; charset=utf-8",
                    url: RootUrl + 'Request/CheckEarTagUsed?earTag=' + ear,
                    success: function (response) {
                        if (response.toString() == "NULL") {
                            status = false;

                        }
                    }
                })
            }


            return status;
        }

        $(document).ready(function () {

            $("#txtEarTag").change(function () {
                if (!CheckEarTag()) {
                    alert("Ear Tag doesnot generated yet or invalid.");
                }
            })

            $("#txtSubmit").click(function (e) {
                if (!CheckEarTag()) {
                    alert("Ear Tag doesnot generated yet or invalid.");
                    e.preventDefault();
                }

                if (CheckEarTagUsed() && $("input[name='id']").val()==0) {
                    alert("Ear Tag No already used");
                    e.preventDefault();
                }
            })


            $("#ddlSpecies").change(function () {
                var url = RootUrl + "Request/CascadeBreed";
                var ddlsource = "#ddlSpecies";
                var val = $(ddlsource).val();
                if (val) {
                    $.getJSON(url, { speciesId: $(ddlsource).val() }, function (data) {
                        var items = '<option value="0">Select</option>';
                        $("#ddlBreed").empty();

                        $.each(data, function (i, breeds) {
                            items += "<option value='" + breeds.value + "'>" + breeds.text + "</options>";
                        })
                        $("#ddlBreed").html(items);
                    })
                }
            })


            $("#ddlSires").select2();
            $("#ddldams").select2();
        })
        function clickEventGender(radio) {
            var radioValue = radio.value;
            if (radioValue == "Male") {
                $("#divFemale").hide();
            }
            else if (radioValue == "Female") {
                $("#divFemale").show();
            }
        }


    </script>
}


