@model Animal.Models.AnimalRegistration

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AnimalRegistration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.earTagNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.earTagNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.species)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.species)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.breedId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.breedId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sireId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sireId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.damId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.damId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.noOfCalving)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.noOfCalving)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lastCalvingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lastCalvingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pregnencyStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pregnencyStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pregnencyDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pregnencyDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.milkingStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.milkingStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.updatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.updatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ownerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ownerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.keeperId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.keeperId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.farmId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.farmId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.declaredBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.declaredBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.declaredDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.declaredDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
