@model Animal.Models.AnimalRegistration

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card mb-4 col-md-8" >
    <div class="card-header py-3">
        <h3 class="m-1 font-weight-bold center text-primary">Animal Registration</h3>
    </div>
    
        <div style="padding-top:10px;">
            <table class="table table-bordered" id="myTable">
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.id)
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.id)
                    </th>
                </tr>
                <tr>
                    <td>
                     Ear Tag No
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.earTagNo)
                    </th>
                </tr>
                <tr>
                    <td>
                        Weight
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.weight)
                    </th>
                </tr>
                <tr>
                    <td>
                      Species Name
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.Species.speciesName)
                    </th>
                </tr>
                <tr>
                    <td>
                       Breed
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.Breed.breedNameShort)
                    </th>
                </tr>
                <tr>
                    <td>
                       Age
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.age)
                    </th>
                <tr>
                    <td>
                       DOB
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.dob)
                    </th>
                </tr>

                <tr>
                    <td>
                       Sire Id
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.sireId)
                    </th>
                </tr>
                <tr>
                    <td>
                       Dam Id
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.damId)
                    </th>
                </tr>
                <tr>
                    <td>
                       No of Calving
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.noOfCalving)
                    </th>
                </tr>
                <tr>
                    <td>
                       Last Calving Date
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.lastCalvingDate)
                    </th>
                </tr>
                <tr>
                    <td>
                       Pregnancy status
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.pregnencyStatus)
                    </th>
                </tr>
                <tr>
                    <td>
                       Pregnancy Duration
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.pregnencyDuration)
                    </th>

                </tr>
                <tr>
                    <td>
                       Milking Status
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.milkingStatus)
                    </th>
                </tr>
                <tr>
                    <td>
                       Created At
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.createdAt)
                    </th>
                </tr>
                <tr>
                    <td>
                        Updated By
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.updatedBy)
                    </th>
                </tr>
                <tr>
                    <td>
                       Owner
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.ownerId)
                    </th>
                </tr>
                <tr>
                    <td>
                       Keeper
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.keeperId)
                    </th>
                </tr>
                <tr>
                    <td>
                        Farm
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.farmId)
                    </th>
                </tr>
                <tr>
                    <td>
                      Gender
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.gender)
                    </th>
                </tr>
                <tr>
                    <td>
                        Declared By
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.declaredBy)
                    </th>
                </tr>
                <tr>
                    <td>
                        Declared Date
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.declaredDate)
                    </th>
                </tr>
            </table>
      
    </div>

    <div>
        <a asp-action="Index" class="btn btn-danger">Back to List</a>
    </div>
</div>
